.env
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
\.parquet$

playground/src/*/references/*
playground/references/*
playground/src/*/data/*
playground/src/docs/*

.env
\.pem
rcbms\.pem
rcbms-private\.pem

*.pem
